html,body{
    background-image: url('../imagenes/img_carrusel/imagen1.jpg');
    background-size: cover;
}

.card{
    text-align: center;
    height: 100%;
    margin-top: 50px;
    width: 70%;
    background-color: rgba(0,0,0,0.5) !important;
    
}
.App{
    display: flex; 
    flex-direction: column; 
    overflow: auto;
    height: 100vh;
    width: 100%; 
}
.form-horizontal > div{
    margin: 0 auto; 
}
.positionStyle{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    justify-items: center;
    align-items: center;
    align-content: center; 
}