@import url('https://fonts.googleapis.com/css?family=Palanquin|Palanquin+Dark&display=swap');

.pais-info {
    color: #6a6c6d;
}

@media (min-width: 992px) {
    .row-lateral {
        width: 155%;
        position: relative;
        right: 50%;
    }

    .background-pais {
        /* background-color: rgb(252, 119, 83); */
        background: linear-gradient(to right, rgba(248,78,48,0.42) 0%, rgba(249,91,59,0.89) 30%, rgba(250,94,62,1) 38%, rgba(252,121,84,1) 100%);
    }
    
}

@media (max-width: 992px) {
    .background-pais {
        background-color: rgb(252, 119, 83);
    }
}

.titulo-pais {
    color: rgb(193, 135, 31);
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 65px;
}

.background-pais p {
    color: black !important;
}