body{ 
  color: white; 
}
.App{ 
  display: flex; 
  flex-direction: column; 
  overflow: auto;
  height: 100vh;
  width: 98%; 
}
.App-Box{
  width: 98%; 
  flex: 1; 
  margin-top: 30px; 
}
.marginTopMainContainer{
  margin-top: 100px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-content: center; 
  margin: 0 auto; 

}
